@using subscription_watch.DTOs

@{
    ViewData["Title"] = "Registration";
}

@section Styles {
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
}

@model RegisterDto

<form id="registerForm" method="post" asp-controller="Register" asp-action="Index">

    <h1>Subscription Watch!</h1>
    <div class="input-group">
        <label for="inputLogin">Your login</label>
        <input type="text" id="inputLogin" name="Login" maxlength="100">
    </div>

    <div class="input-group">
        <label for="inputFullName">Your full name</label>
        <input type="text" id="inputFullName" name="FullName">
    </div>

    <div class="input-group">
        <label for="inputPassword">Create password</label>
        <input type="password" id="inputPassword" name="Password">
    </div>

    <div class="input-group">
        <label for="inputAgainPassword">Repeat password</label>
        <input type="password" id="inputAgainPassword">
    </div>

    <div class="input-group number">
        <label for="inputRemindDaysBefore">Remind me about subscription payments prior</label>
        <input type="number" id="inputRemindDaysBefore" name="DefaultRemindDaysBefore" value="3">
    </div>

    <button type="submit" id="signUpButton" class="signUp-button">Sign up</button>
</form>

<div id="serverErrorSummary" asp-validation-summary="ModelOnly" class="text-danger"></div>

<div id="clientErrorSummary" class="text-danger" style="display: none"></div>

@section Scripts {
    <script src="~/js/register.js" asp-append-version="true"></script>
}