* {
    box-sizing: border-box;
}

form h1 {
    text-align: center;
    margin: 0;
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-main {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0;
}

form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    padding: 20px;
    max-width: 540px;
    min-width: 500px;
}

form input {
    font-size: 24px;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.input-group.number {
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.input-group.number input {
    width: 180px;
    height: fit-content;
}

.signUp-button {
    font-size: 26px;
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(179, 17, 49);
    transition: all 200ms ease-in-out;
}

.signUp-button:hover {
    background-color: rgb(140, 17, 49);
}
