@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
}

<form method="post" asp-controller="Auth" asp-action="Login">

    <h1>Subscription Watch!</h1>
    <div class="input-group">
        <label for="inputLogin">Login</label>
        <input type="text" id="inputLogin" name="Login" maxlength="100">
    </div>

    <div class="input-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="Password">
    </div>

    <button type="submit" id="signInButton" class="signIn-button">Sign In</button>
</form>

@section Scripts {
    <script src="~/js/login.js" asp-append-version="true"></script>
}